body{
    color: white;
    background-color:#ef5924;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
h1, h2 {
    background-color: white;
    color: #e84e0f;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  
}
.Logo {
    
        display: block;
        margin: 0 auto;
        width: 300px; 
        height: auto;
}
ol, ul {
    background-color: white;
    color: #e84e0f;
    padding: 30px 30px;
    border-radius: 10px;
    margin: 20px auto;
    width: max-content;
    font-weight: bold;
    font-size: 25px;
}
