body{
    color: white;
    background-color:#ef5924;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
}
h1, h2 {
    background-color: white;
    color: #e84e0f;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-block: 0.8rem 4.4rem;
}

